@import "@fontsource/unifontex";
@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/500.css";
@import "@fontsource/jetbrains-mono/700.css";
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-unifontex: "UnifontEX", monospace;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

:root {
  --ui-radius: 0.125rem;
}

button,
[role="button"] {
  cursor: pointer;
}
